footer{
    position: relative;
    z-index: 100;
    background: url("../img/footerBG.png");
    padding-top: 220px;
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (max-width: 768px){
    footer{
        padding-top: 50px;

    }
}


.footer__top{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}



.footer__left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 65%;
    margin-right: 40px;
}



@media screen and (max-width: 425px){
    .footer__left{
        width: 100%;
        margin-right: 0;
    }
}


.footer__left nav{
    margin-right: 10px;
    margin-bottom: 50px;
}

@media screen and (max-width: 425px){
    .footer__left nav{
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 425px){
    .footer__left nav{
        margin-right: 0;
        width: 100%;
        text-align: center;
    }
}


.footer__topTitle{
    position: relative;
    font-size: 21px;
    font-family: "Poppins";
    color: rgb(55, 83, 218);
    text-transform: uppercase;
    margin-bottom: 29px;
}



@media screen and (max-width: 425px){

    .footer__topTitle{
        margin-bottom: 0;
    }

    nav.active .footer__topTitle{
        margin-bottom: 15px;
    }

    .footer__topTitle, .footer__Menu a{
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        width: -moz-fit-content;
    }

    .footer__topTitle::after{
        position: absolute;
        content: "\2023";
        font-size: 40px;
        top: 50%;
        transform: translateY(-50%);
        left: calc(100% + 5px);
        transition-duration: .3s;
    }
}


/*footer menu open/close*/

@media screen and (max-width: 425px) {
    
    .footer__Menu{
        display: none;
    }
    .footer__left nav.active .footer__topTitle::after{
        transform: translateY(-50%) rotate(90deg);
        transition-duration: .3s;
    }

    .footer__left nav.active .footer__Menu{
        display: unset;
    }
}


.footer__Menu a{
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-bottom: 3px;
    font-weight: bold;
    transition-duration: .2s;
}

.footer__Menu a:hover{
    color: rgb(57, 166, 217);
    transition-duration: .2s;
}




/*footer right*/

.footer__right{
    margin-bottom: 50px;
}


@media screen and (max-width: 425px) {
    .footer__right{
        width: 100%;
        text-align: center;
    }
}


.footer__socialTitle {
    font-size: 21px;
    font-family: "Poppins";
    color: rgb(55, 83, 218);
    text-transform: uppercase;
    margin-bottom: 20px;
}


.footer__social{
    margin-bottom: 40px;
}


.footer__socialBlock{
    display: flex;
}


@media screen and (max-width: 425px) {
    .footer__socialBlock{
        width: fit-content;
        width: -moz-fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}


.footer__socialBlock a{
    margin-right: 10px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    transition-duration: .3s;
}

.footer__socialBlock a i{
    color: black;
}

.footer__socialBlock a:hover{
    background-color: rgb(57, 166, 217);
    transition-duration: .3s;
}


.footer__subscribeTitle{
    font-size: 21px;
    font-family: "Poppins";
    color: rgb(55, 83, 218);
    text-transform: uppercase;
    margin-bottom: 10px;
    width: fit-content;
    width: -moz-fit-content;
}


@media screen and (max-width: 425px) {
    .footer__subscribeTitle{
        width: fit-content;
        width: -moz-fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}

.footer__subscribeBlock input[type="email"]{
    background-color: rgb(47, 47, 47);
    color: rgb(255, 255, 255);
    padding-left: 10px;
    width: 220px;
    height: 30px;
    border: none;
    margin-bottom: 20px;
    border-radius: 20px;
}


.footer__subscribeBlock input[type="submit"]{
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    background-color: rgb(57, 84, 217);
    padding: 7px 17px;
    border: none;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition-duration: .2s;
}

.footer__subscribeBlock input[type="submit"]:hover{
    background-color: rgb(57, 166, 217);
    transition-duration: .2s;
}



.footer_copyRight{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.322);
    max-width: 400px;
}
