
.shop__block{
    display: flex;
    flex-wrap: wrap;
    border-collapse: collapse;
}


.shopItem, .shopBanner{
    width: 25%;
    border-style: solid;
    border-color: grey;
    border-width: 0 1px 1px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


@media screen and (max-width: 768px){
    .shopItem, .shopBanner{
        width: 50%;
    }
}

@media screen and (max-width: 425px){
    .shopItem, .shopBanner{
        width: 100%;
    }
}

.shopItem{
    position: relative;
    background-color: white;
}

.shopDoubleBanner{
    width: 50%!important;
}


@media screen and (max-width: 768px){
    .shopDoubleBanner{
        width: 100%!important;
    }
}

.shopItem img{
    max-height: 150px;
    max-width: 100%;
    align-self: center;
    margin-bottom: 20px;
}

.shopItem__title{
    font-size: 15px;
    color: rgb(13, 46, 87);
    text-transform: uppercase;
    margin-bottom: 20px;
    flex-grow: 1;
}

.shopItem__prices{
    display: flex;
    align-items: center;
    flex-grow: 1;
}


.shopItem__newPrice{
    font-size: 22px;
    color: rgb(55, 83, 218);
    font-weight: bold;
    margin-right: 10px;
}


.shopItem__oldPrice{
    font-size: 20px;
    color: rgb(86, 86, 86);
    text-decoration: line-through;
}


/*hover, buy*/

.shopItem__buyBlock{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 50;
}


.shopItem:hover .shopItem__buyBlock {
    display: unset;
}


@media screen and (max-width: 768px){
    .shopItem__buyBlock {
        display: unset;
        position: unset;
        background-color: unset;
    }
}


.shopItem__buy{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    padding: 10px 20px;
    background-color: rgb(57, 84, 217);
    color: white;
    z-index: 100;
    transition-duration: .3s;
}

.shopItem__buy:hover{
    background-color: rgb(57, 166, 217);
    transition-duration: .3s;
}



@media screen and (max-width: 768px){
    .shopItem__buy{
        font-size: 15px;
        position: unset;
        padding: 10px 15px;
        transform: unset;
        width: fit-content;
        width: -moz-fit-content;
        margin: 10px auto 0;
    }
}




/*banner*/

.shopBanner{
    background-color: #000;
    height: 400px;
    max-height: 400px;
}

.shopDoubleBanner{
    background: url("../img/shop/shopBG.png") left top no-repeat;
    background-position-x: right;
    background-size: cover;
    height: 400px;
    max-height: 400px;
}

@media screen and (max-width: 768px){
    .shopDoubleBanner{
        background: linear-gradient(to left, #000000, #551e21);
    }

    .shopDoubleBanner{
        height: 300px;
    }
}

@media screen and (max-width: 425px){
    .shopDoubleBanner, .shopBanner{
        height: fit-content;
    }
}


.shopBanner__title{
    font-size: 32px;
    font-family: "Poppins";
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 15px;
}




.shopBanner__text{
    font-size: 18px;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px){
    .shopBanner__text{
        font-size: 15px;
    }
}

@media screen and (max-width: 425px){
    .shopBanner__text{
        font-size: 12px;
    }
}


.shopBanner__click{
    background-color: #65cbff;
    color: white;
    width: fit-content;
    width: -moz-fit-content;
    padding: 10px 15px;
    border-radius: 10px;
}


.shop_click{
    border: unset;
    width: fit-content;
    width: -moz-fit-content;
    margin: 30px auto;
    font-size: 15px;
    font-family: "Montserrat";
    color: rgb(55, 83, 218);
    font-weight: bold;
    text-transform: uppercase;
    transition-duration: .3s;
}

.shop_click:hover{
    color: #65cbff;
    transition-duration: .3s;
}


